div {
    align-self: center;
    display: flex;
}

#autograph {
    width: 100vw;
}

@keyframes signature {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    80% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.autograph__path:nth-child(2) {
    animation-delay: 0.25s;
}

.autograph__path:nth-child(3) {
    animation-delay: 0.5s;
}

.autograph__path:nth-child(4) {
    animation-delay: 0.75s;
}

.autograph__path:nth-child(5) {
    animation-delay: 1.0s;
}

.autograph__path:nth-child(6) {
    animation-delay: 1.25s;
}

.autograph__path:nth-child(7) {
    animation-delay: 1.5s;
}

.autograph__path__special {
    animation-delay: 1.75s;
}

.autograph__path:nth-child(8) {
    animation-delay: 2.0s;
}

.autograph__path:nth-child(9) {
    animation-delay: 2.25s;
}

.autograph__path:nth-child(10) {
    animation-delay: 2.50s;
}
.autograph__path:nth-child(11) {
    animation-delay: 2.75s;
}

#autograph path {
    fill: none;
    stroke: #000;
    stroke-width: 10;
    stroke-opacity: 0.30;
}

@keyframes write {
    0% {
        stroke-dashoffset: 3300;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.autograph__path {
    stroke-dasharray: 3300;
    animation: write .25s backwards linear;
}

@keyframes write__special {
    0% {
        stroke-dashoffset: 5000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.autograph__path__special {
    stroke-dasharray: 5000;
    animation: write__special .5s backwards linear;
    animation-delay: 1.75s;
}

@keyframes write__dot {
    0% {
        stroke-dashoffset: 5000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.autograph__path__dot {
    stroke-dasharray: 5000;
    animation: write__dot .25s backwards linear;
    animation-delay: 3s;
}
